<section class="contact-form">
    <h2>CONTACTO</h2>
    <form>
      <div class="form-group  large">
        <input type="email" id="email" class="form-input" placeholder="email......................." aria-label="Email">
      </div>
      <div >
        <input type="text" id="name" class="names" placeholder="Nombre" aria-label="Email">
        <input type="text" id="surname" class="names" placeholder="Apellido" aria-label="Email">
      </div>
      <div class="form-group">
        <input type="text" id="asunto" class="form-input" placeholder="Asunto" aria-label="Email">
      </div>
      <div class="form-group">
        <textarea id="Mensaje" class="form-input" placeholder="Mensaje" aria-label="Email"></textarea>
      </div>
    </form>
</section>

<style>

    h2{
        margin-top: 5rem;
        color: white;
        font-family: sans-serif;
        font-weight: lighter;
    }


    body{
    margin-top:2rem ;
    display: flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    }
    form{
    display: flex;
    flex-direction: column;
    align-items: center;
    }


    .names{
    width: 10rem;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #0b0b0b;
    box-shadow: 0 0 8px 5px #c91ca4;
    text-transform: uppercase;
    padding: 17px 30px 18px;
    font: 400 16px / 1.5 "Inria Sans", sans-serif;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
    }
    .form-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 24rem;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #0b0b0b;
    box-shadow: 0 0 8px 5px #c91ca4;
    text-transform: uppercase;
    padding: 17px 30px 18px;
    font: 400 16px / 1.5 "Inria Sans", sans-serif;
    }

</style>