<section class="secc">
    <h1>CANAL DE YOUTUBE</h1>
    <cont class="cont">
    <reproductor class="reproductor"></reproductor>
    </cont>
</section>

<style>
    .secc{
        background-color: black;
        color: white;
    }

    h1{
        margin: 0 auto;
        font-family: sans-serif;
        padding: 3rem;
        font-size: 2rem;
    }
    
    .cont{
        display: flex;
        justify-content: center;
    }
    .reproductor{
    display: flex;
    height: 26rem;
    width: 48rem;
    background-color: black;
    border: 1rem solid #ca1da4;
    border-radius: 7rem;
    margin-bottom: 3rem;
    }


    
</style>