<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">


<container class="container">
<section>
    <texto class="texto">
        <h1> Sobre mi </h1>
        <p> desde los 14 años me ví interesado 
            por este mundo y fui guiandome de manera intuitiva. <br> 
            Con el paso de los años, horas y mucha perseverancia 
            me formé y sigo formando(tanto a nivel cursos como carreras 
            referidas al sonido) para poder lograr el objetivo de plasmar 
            lo que quiero con comodidad en mi DAW. <br>
            Tengo hambre de progreso y eso lo demuestro en mis producciones
            ayudando a chicos que se quieren dar a conocer y crecer al igual que yo.</p>
    </texto>
    <imagen class="imagen">
        <img class="ivo" src="src/ivo-sm.png" alt="foto">
        <img class="splash" src="src/splash-removebg-preview.png" alt="">
    </imagen>
</section>
<section class="space"></section>
<container/>



<style>
    section{
        display: flex;
        justify-content:space-evenly ;
        background-color: black;

    }


    .texto{
        width: 35%;
    }
    h1{
        font-family: sans-serif;
        color: white;
    }
    p{
        font-family: sans-serif;
        color: white;
        line-height: 1.67rem;
    }

    .imagen{
    width: 14rem;
    height: 27rem;
    }

    .imagen .ivo{
        width: 100%;
        filter: drop-shadow(0px 18px 32px #C91CA4);
        position: relative;
        top: 1rem;
    }
    .splash{
        position: relative;
    bottom: 16rem;
    height: 32rem;
    right: 10rem;
    rotate: 156deg;
    }
    .space{
        height: 5rem;

    }
    body{
        overflow: ;
    }
    .container{
    display: flex;
    background-color: aqua;
    height: 32rem;
    overflow: hidden;
    }
</style>




<!-- 
width: 48rem;
position: absolute;
top: 17rem;
left: 32rem;
height: 47rem; -->